./Presentacion/beamerdyv.aux
./Presentacion/beamerdyv.log
./Presentacion/beamerdyv.nav
./Presentacion/beamerdyv.out
./Presentacion/beamerdyv.vrb
./Presentacion/beamerdyv.snm
./Presentacion/beamerdyv.toc
./Presentacion/beamerdyv.synctex.gz
./Presentacion/memoriadyv.aux
./Presentacion/memoriadyv.log
./Presentacion/memoriadyv.out
./Presentacion/memoriadyv.synctex.gz
./Presentacion/memoriadyv.toc
